.window-app .window-content {
    background: url(./ui/deathwatchCharacterSheetBackground.png) repeat;
}

/* Characteristics */
td.characteristic-name {
    text-align: center;
}

input[type="number"].characteristic-box {
    height: 50px;
    font-size: 50px;
    text-align: right;
}

input[type="number"].characteristic-bonus-box {
    height: 25px;
    width: 25px;
    text-align: center;
}

div.relative-characteristic-container {
    position: relative;
}

div.absolute-bonus-container {
    position: absolute;
    top: 0px;
    left: 0px;
}

div.characteristic-roll-container {
    position: absolute;
    bottom: 3px;
    left: 3px;
}

/* Important Stats */
th.fate-points-detail {
    width: 12.5%;
}

td.fate-points-detail {
    width: 12.5%;
    text-align: center;
}

input[type="number"].fate-points-value-box {
    width: 25%;
}

/* Skills */
td.skill-box {
    text-align: center;
}

input[type="checkbox"].small-checkbox {
    width: 13px;
    height: 13px;
    margin-top: 0px;
    margin-right: 2px;
    margin-bottom: 0px;
    margin-left: 2px;
}

/* Talents */
.editor {
    height: 100%;
}

/* Combat */
div.combat-flex-container {
    display: flex;
}

/* Weapons */
div.combat-weapon-container {
    width: 50%;
    position: relative;
}

td.weapon-detail-header {
    font-variant: small-caps;
    width: 5%;
}

td.class-and-range-detail {
    width: 7%;
}

td.damage-and-rof-detail {
    width: 12.5%;
}

input[type="text"].rof {
    width: 25%;
}

td.type-and-clip-detail {
    width: 5%;
}

td.pen-and-reload-detail {
    width: 5%;
}

td.special-rules-detail-header {
    font-variant: small-caps;
    width: 12%;
}

td.special-rules-detail {
    width: 88%;
}

/* Armour */
div.combat-armour-container {
    width: 33%;
    position: relative;
}

img.power-armour {
    border: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
}

div.armour-head-container {
    position: absolute;
    top: 4px;
    left: 95px;
    height: 59px;
    width: 59px;
    background: ghostwhite;
    opacity: 0.7;
    text-align: center;
}

div.armour-right-arm-container {
    position: absolute;
    top: 122px;
    left: 10px;
    height: 59px;
    width: 59px;
    background: ghostwhite;
    opacity: 0.7;
    text-align: center;
}

div.armour-left-arm-container {
    position: absolute;
    top: 122px;
    left: 181px;
    height: 59px;
    width: 59px;
    background: ghostwhite;
    opacity: 0.7;
    text-align: center;
}

div.armour-body-container {
    position: absolute;
    top: 90px;
    left: 95px;
    height: 59px;
    width: 59px;
    background: ghostwhite;
    opacity: 0.7;
    text-align: center;
}

div.armour-right-leg-container {
    position: absolute;
    top: 244px;
    left: 26px;
    height: 59px;
    width: 59px;
    background: ghostwhite;
    opacity: 0.7;
    text-align: center;
}

div.armour-left-leg-container {
    position: absolute;
    top: 244px;
    left: 165px;
    height: 59px;
    width: 59px;
    background: ghostwhite;
    opacity: 0.7;
    text-align: center;
}

div.armour-component-name {
    font-size: 1rem;
    font-weight: bold;
    font-variant: small-caps;
}

div.armour-component-value {
    font-size: 2rem;
}

input.armour-component-value-box {
    width: 40px;
}

/* Combat Stats */
div.combat-stats-container {
    width: 17%;
    position: relative;
    text-align: center;
}

input.combat-stats-value-box {
    width: 25px;
}