<div class="combat-stats-magnitude-container">
    <table>
        <tr>
            <th colspan="3">
                Magnitude
            </th>
        </tr>
        <tr>
            <td>
                <input class="combat-stats-value-box" name="data.injury.magnitude.value" type="number"
                    value="{{actor.data.data.injury.magnitude.value}}" data-dtype="Number" />
            </td>
            <td>
                /
            </td>
            <td>
                <input class="combat-stats-value-box" name="data.injury.magnitude.max" type="number"
                    value="{{actor.data.data.injury.magnitude.max}}" data-dtype="Number" />
            </td>
        </tr>
    </table>
</div>