<div class="combat-stats-magnitude-container">
    <table>
        <tr>
            <th>
                Armour
            </th>
        </tr>
        <tr>
            <td>
                <input class="combat-stats-value-box" name="data.armour.armourPoints" type="number"
                    value="{{actor.data.data.armour.armourPoints}}" data-dtype="Number" />
            </td>
        </tr>
    </table>
</div>