<div class="combat-stats-fatigue-container">
    <table>
        <tr>
            <th>
                Fatigue
            </th>
        </tr>
        <tr>
            <td>
                <input class="combat-stats-value-box" name="data.injury.fatigue.value" type="number"
                    value="{{actor.data.data.injury.fatigue.value}}" data-dtype="Number" />
            </td>
        </tr>
    </table>
</div>