<div class="combat-stats-wounds-container">
    <table>
        <tr>
            <th colspan="3">
                Wounds
            </th>
        </tr>
        <tr>
            <td>
                <input class="combat-stats-value-box" name="data.injury.wounds.value" type="number"
                    value="{{actor.data.data.injury.wounds.value}}" data-dtype="Number" />
            </td>
            <td>
                /
            </td>
            <td>
                <input class="combat-stats-value-box" name="data.injury.wounds.max" type="number"
                    value="{{actor.data.data.injury.wounds.max}}" data-dtype="Number" />
            </td>
        </tr>
    </table>
</div>