<section>
    <div class="combat-flex-container">
        <div class="combat-flex-child">
            {{#each items as |item id|}}
            {{#ifeq item.type "weapon"}}
            {{> "systems/deathwatch/templates/partials/marine-combat-weapon.hbs" actor=actor item=item}}
            {{/ifeq}}
            {{/each}}
        </div>
        <div class="combat-flex-child">
            <div class="power-armour-container">
                <img class="power-armour" src="systems/deathwatch/ui/powerArmour.png" alt="Power Armour Image">
            </div>
        </div>
    </div>
</section>