<div class="combat-stats-movement-container">
    <table>
        <tr>
            <th colspan="2">
                Movement
            </th>
        </tr>
        <tr>
            <th>
                Half
            </th>
            <th>
                Full
            </th>
        </tr>
        <tr>
            <td class="important-stat-detail">
                <input class="important-stat-value-box" name="data.movement.half" type="number"
                    value="{{actor.data.data.movement.half}}" data-dtype="Number" />
            </td>
            <td class="important-stat-detail">
                <input class="important-stat-value-box" name="data.movement.full" type="number"
                    value="{{actor.data.data.movement.full}}" data-dtype="Number" />
            </td>
        </tr>
        <tr>
            <th>
                Charge
            </th>
            <th>
                Run
            </th>
        </tr>
        <tr>
            <td class="important-stat-detail">
                <input class="important-stat-value-box" name="data.movement.charge" type="number"
                    value="{{actor.data.data.movement.charge}}" data-dtype="Number" />
            </td>
            <td class="important-stat-detail">
                <input class="important-stat-value-box" name="data.movement.run" type="number"
                    value="{{actor.data.data.movement.run}}" data-dtype="Number" />
            </td>
        </tr>
    </table>
</div>