<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
    </header>
    <div class="skill-container">
        <table>
            <tr>
                <th>
                    Characteristic
                </th>
                <th class="skill-header-cell">
                    Basic
                </th>
                <th class="skill-header-cell">
                    Trained
                </th>
                <th class="skill-header-cell">
                    +10%
                </th>
                <th class="skill-header-cell">
                    +20%
                </th>
            </tr>
            <tr>
                <td>
                    <select name="data.characteristic" data-type="String">
                        {{selectOptions config.characteristics selected=data.data.characteristic localize=true}}
                    </select>
                </td>
                <td class="skill-box">
                    <input class="small-checkbox" name="data.isBasic" type="checkbox" {{checked data.data.isBasic}} />
                </td>
                <td class="skill-box">
                    <input class="small-checkbox" name="data.isTrained" type="checkbox" {{checked data.data.isTrained}} />
                </td>
                <td class="skill-box">
                    <input class="small-checkbox" name="data.hasPlus10Upgrade" type="checkbox" {{checked data.data.hasPlus10Upgrade}} />
                </td>
                <td class="skill-box">
                    <input class="small-checkbox" name="data.hasPlus20Upgrade" type="checkbox" {{checked data.data.hasPlus20Upgrade}} />
                </td>
            </tr>
        </table>
    </div>
</form>